<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width">
	<title>Profilo utente</title>
	<link rel="stylesheet" href="/css/style.css"/>
</head>

<body>

	<div th:insert="admin/admin-fragments :: header"></div>
	
	<bodypage>
		<h1>Utenti</h1>
		
		<div th:each="user : ${users}">
			<div class="booking-container">
				<div class="booking-elem">
					<span class="booking-elem-title">Nome:</span>
					<span class="booking-elem-content" th:text="${user.name}" ></span>
				</div>
				<div class="booking-elem">
					<span class="booking-elem-title">Cognome:</span>
					<span class="booking-elem-content" th:text="${user.surname}"></span>
				</div>
				<div class="booking-elem">
					<span class="booking-elem-title">Telefono:</span>
					<span class="booking-elem-content" th:text="${user.telephone}"></span>
				</div>
				<div  class="booking-elem">
					<span class="booking-elem-title">Email:</span>
					<span class="booking-elem-content" th:text="${user.email}"></span>
				</div>
				<div class="booking-elem">
					<form th:action="@{'/admin/rimuovi-utente/' + ${user.id}}" method="POST">
					<button class="remove-button-booking" type="submit" >x</button></form>
				</div>
			</div>
		</div>
		
	</bodypage>
	
	<div th:insert="fragments :: footer"></div>
		
</body>

</html>