<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width">
	<title>Homepage</title>
	<link rel="stylesheet" href="/css/style.css"/>
</head>

<body>

	<div th:insert="fragments :: header"></div>
	
	<bodypage>
		<div class="homepage">
			<div class="home-photo"><img src="/images/sanginesio.png" width="850px" height="475px"></div>
			<div class="descritpion">L'A.S.D. Tennnis San Ginesio e' il principale circolo di tennis situato nel comune di San Ginesio (MC). Il centro comprende due campi in terra battuta e uno spogliatoio.</div>

		</div>
	</bodypage>
	
	<div th:insert="fragments :: footer"></div>
	
	<div th:insert="fragments :: whatsapp"></div>
	
</body>

</html>